@import '@/styles/variables';

@layer components {
  .report-categories {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);

    &__title {
      justify-content: start !important;
      color: var(--text);
      font-weight: 700;
    }
  }
}
