@layer components {
  .category-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;

    svg [fill='black'] {
      fill: var(--icon-color);
    }

    svg [stroke='black'] {
      stroke: var(--icon-color);
    }
  }
}
