@import '@/styles/variables';

@layer components {
  .more-option-menu {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    z-index: 2;

    &.menu--top {
      top: unset;
      bottom: 0;
    }
  }
}
