@import '@/styles/variables.scss';

@layer components {
  .form-input {
    &__input {
      min-height: 2rem;
      width: 100%;
      padding: 0 0.5em;
      background-color: transparent;
      border: 1px solid var(--border-strong);
      border-radius: 0.5em;
      font-size: 0.75rem;
      color: var(--text);

      &-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      &:focus {
        outline: 1px solid var(--text);
      }

      &::placeholder {
        color: var(--text-muted);
      }

      &--error {
        border: 1px solid var(--default-color-danger);

        &:focus {
          border-color: var(--default-color-danger);
          outline-color: var(--default-color-danger);
        }
      }

      &-nav {
        display: flex;
        gap: 0.5em;
      }

      &-nav-btn {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        border: 1px solid var(--border-strong);
        border-radius: 0.5em;
        background-color: transparent;
        color: var(--text);

        &:active {
          background-color: var(--border);
        }

        &--prev {
          transform: rotate(90deg);
        }

        &--next {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
