@import '@/styles/variables';

@layer components {
  .form-input__file {
    display: none;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    &-placeholder {
      border: 1px solid var(--border-strong);
      border-radius: 0.25em;
      padding: 0 0.5em;
      color: var(--text);

      &--error {
        border: 1px solid var(--default-color-danger);
      }
    }
  }
}
