@import '@/styles/variables';

@layer components {
  .report-widget {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-default;

    &__title {
      justify-content: start !important;
      color: $color-primary;
      font-weight: 700;
    }
  }
}
