@import '@/styles/variables';

@layer components {
  .report-category {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: var(--surface);
    color: var(--text);
    border: none;
  }
}
