@import './TransactionDetail';

.transactions {
  background-color: $color-white;
  color: $color-primary;
  flex: 1;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem 1rem 1rem;
  // overflow-y: scroll;
}
