body.dark {
  .text--color-primary {
    color: $color-white;
  }

  .modal,
  .toolbar,
  .widget,
  .categories,
  .category-widget,
  .dashboard,
  .date-range-modal,
  .form-input__input,
  .form-input__radio,
  .form-input__select-option-container,
  .form-input__select-option:not(.selected),
  .form-input__select-placeholder--has-value,
  .transactions,
  .transactions__transaction-detail-container,
  .reports,
  .settings {
    background-color: $color-dark;
    color: $color-white;

    & button {
      color: $color-white;
    }
  }

  .modal {
    background-color: rgba($color-dark, 0.3);

    &__container {
      background-color: $color-dark;
      color: $color-white;
    }
  }

  .category-tab-view {
    &__add-button {
      border-color: $color-white;
    }
  }
}
