.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  padding: 0.5rem 1rem;
  color: $color-primary;
  gap: 4rem;
  box-shadow: 0 -0.25rem 0.75rem rgba($color: black, $alpha: 0.25);
  position: sticky;
  bottom: 0;

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: $color-primary-2;
    cursor: pointer;

    & > svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
