@import '@/styles/variables';

@layer components {
  .widget {
    padding: 1rem;
    background-color: var(--surface);
    color: var(--text);
    flex: 1;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
  }
}
