.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  height: 100%;
  background-color: $color-white;
  color: $color-primary;
  position: relative;

  & button {
    color: $color-primary;
  }
  //  ul > *:not(.mt-6){
  //   background: $color-dark;
  //   color: $color-white;
  //   svg{
  //     path{
  //       stroke: $color-white;
  //     }
  //   }
  // }
  &.dark, &.dark :is(.flex-column ul > li:not(.mt-6) .flex-align-center span, .toolbar, label)   {
    background: $color-dark;
    color: $color-white;
    svg path{
      stroke: $color-white;
    }
    svg.icon--stroke-danger path{
      stroke: $color-danger;
    }
    
  }
  

}
