@import './ReportInfo';
@import './ReportWidget';

.reports {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-white;
  color: $color-primary;
  position: relative;

  &.dark,
  &.dark .toolbar {
    background: $color-dark;
    color: $color-white;
    svg path {
      stroke: $color-white;
    }
  }
}
