@import '@/styles/variables';

@layer components {
  .categories {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: clip;
    background-color: $color-white;
    color: $color-primary;
    position: relative;
  }
}
