@import './CategoryTabView';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  height: 100%;
  overflow-x: clip;
  background-color: $color-white;
  color: $color-primary;
  position: relative;

  &.dark,
  &.dark .toolbar,
  &.dark button {
    background: $color-dark;
    color: $color-white;
    .selected {
      & > button {
        background-color: $color-primary-2;
        color: $color-white;
      }
    }
    .category-tab-view__add-button {
      border: 2px dashed $color-white;
    }
    svg path {
      stroke: $color-white;
    }
  }
}
