@import './CategoryTabView';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  background-color: $color-white;
  color: $color-primary;
  position: relative;
}
