@import './DeleteDataModal.scss';
@import './FormCategoryModal.scss';
@import './FormTransactionModal.scss';
@import './MoreOptionModal.scss';
@import './DateRangeModal.scss';

.modal {
  position: fixed;
  background: rgba($color-dark, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__container {
    padding: 1em;
    position: relative;
    background: $color-white;
    border-radius: 5px;
    min-height: 100px;
    max-height: calc(100vh - 4rem);
    width: 100%;
    min-width: 100px;
    max-width: 320px;
    box-shadow: 0 0.25rem 12px rgba(black, 0.25);
    overflow-y: auto;
  }
}
