@import '@/styles/variables';
@import '@/styles/mixin';

@layer components {
  .modal {
    @include fadeInAnimation;
    position: fixed;
    background: var(--overlay);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    &__container {
      padding: 1em;
      position: relative;
      background: var(--surface);
      border-radius: 0.75em;
      min-height: 100px;
      max-height: calc(100vh - 4rem);
      width: 100%;
      min-width: 100px;
      max-width: 320px;
      box-shadow: var(--shadow);
      overflow-y: auto;
    }
  }
}
