@import '@/styles/variables';

@layer components {
  .report-detail-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: $color-white;
    color: $color-primary;
    border-radius: 0.75rem;
    box-shadow: $box-shadow-default;

    &__budget {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
