@import '@/styles/variables';

@layer components {
  .app-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: $color-primary;
  }
}
