@import '@/styles/variables';

@layer components {
  .advanced-settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    &__widget {
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      box-shadow: var(--shadow);

      li {
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid var(--border);
        }
      }
    }
  }
}
